@font-face {
    font-family: 'Supermolot';
    src: url('Supermolot Light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Supermolot';
    src: url('Supermolot Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
